body {
  align-items: center;
  justify-content: center;
}

table {
  font-family: arial, sans-serif;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}



.black-background {
    background-color: #dddddd;
}

.black-background :hover {
    background-color: DodgerBlue;
    transition: ease-in-out 0.5s;
}

.white-background :hover {
    background-color: #dddddd;
    transition: ease-in-out 0.5s;
}

.upper-div, .lower-div{
  
  display: flex;
  align-items:center;
}
